html {
  height: 100%;
  width: 100%
}
  
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
}
  
.ie9 section {
  display: none!important
}

.ie9 h1 {
  color: #000
}
  
.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: whitesmoke;
  /* use css paint api to draw background: https://houdini.how/#demo-css-houdini-circles */
  width: 100vw;
  height: 100vh;
  --colors: #f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1, gold, plum, skyblue;;
	--min-radius: 20;
	--max-radius: 100;
	--num-circles: 30;
	--min-opacity: 10;
	--max-opacity: 50;
	background-image: paint(circles);
}
  
@media screen and (max-width:640px) {
  body {
    background-size: auto
  }
}
  
section {
  position: relative;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 50px
}
  
figure {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #ddd
}
  
figure div {
  display: inline-block;
  border-radius: 50%;
  padding: 8px;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
}

figure img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2)
}

figure figcaption {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.5em;
  text-shadow: 0 1px 20px rgba(0, 0, 0, .6)
}

p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 200;
  text-indent: 2em;
  text-shadow: 0 1px 20px rgba(0, 0, 0, .4);
  padding-left: 10px;
  padding-right: 10px
}

a {
  color: #777
}