---
import './style.scss';
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>法懿</title>
    <meta
      name="description"
      content="专业建筑工程律师，提供合同审查、工程项目风险管理、施工合同纠纷解决等法律服务。我们专注于为建筑公司、开发商以及个人客户提供高效的法律咨询和诉讼代理，确保项目顺利进行。立即咨询，确保您的工程项目合规且无忧！"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  </head>
  <body>
    <slot />
  </body>
</html>
